<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1>All Users</h1>
    {{#each data}}
        <h2>User Name: {{this.user_name}}</h2>
        <h2>Email: {{this.email}}</h2>
    {{/each}} 

    <div>
       <form action="/edit/1?_method=PUT" method="POST">
            <label>Name</label>
            <input type="text" name="editName" />
            <button type="submit">Edit User</button>
        </form>
    </div>
    <div>
         <form action="/delete/1?_method=DELETE" method="POST">
            <button type="submit">Delete User</button>
        </form>
    </div>
</body>
</html>